html
    head
        title= "Change password"
    style
        include start.css
    body
        div(class="settings")
            a(href="/quizzes" class="settings-item")= "Home"
            img(src="/assets/icons/icons8-pagoda-40.png")
            a(href="/changePassword" class="settings-item")= "Zmień hasło"
            img(src="/assets/icons/icons8-refresh-40.png")
            a(href="/" class="settings-item")= "Wyloguj się"
            img(src="/assets/icons/icons8-shutdown-40.png")
        header= "Zmiana hasła"
        form(action="/home" method="POST")
            input(type='text', placeholder='login', name='login')
            div(class='underscore')
            input(type='password', placeholder='hasło', name='password')
            div(class='underscore')
            input(type='password', placeholder='nowe hasło', name='newPassword')
            div(class='underscore')
            input(type='password', placeholder='powtórz nowe hasło', name='newPasswordRepeat')
            div(class='underscore')
            input(type="hidden" name="_csrf" value=token)
            a(href="./home")
                input(type="submit", name="zmien-haslo", value="Zmień hasło")
        div(class="error")= errorMsg