html
    head
        title= "Quizzes"
    style
        include start.css
    body
        div(class="settings")
            a(href="/quizzes" class="settings-item")= "Home"
                img(src="/assets/icons/icons8-pagoda-40.png")
            a(href="/changePassword" class="settings-item")= "Zmień hasło"
                img(src="/assets/icons/icons8-refresh-40.png")
            a(href="/" class="settings-item")= "Wyloguj się"
                img(src="/assets/icons/icons8-shutdown-40.png")
        header= "Liczyć każdy może..."

        ul
            each quiz in quizzes
                li(class="btn")
                    a(href='/quizzes/' + quiz.id)=quiz.name
