html
    head
        title= "Statystyki"
    style
        include start.css
        include stats.css
    body
        div(class="settings")
            a(href="/quizzes" class="settings-item")= "Home"
                img(src="/assets/icons/icons8-pagoda-40.png")
            a(href="/changePassword" class="settings-item")= "Zmień hasło"
                img(src="/assets/icons/icons8-refresh-40.png")
            a(href="/" class="settings-item")= "Wyloguj się"
                img(src="/assets/icons/icons8-shutdown-40.png")
        h1= name
        h2= "Już grałeś w ten quiz, to Twoje wyniki:"
        table
            tr
                th Numer
                th Pytanie
                th Odpowiedź
                th Twoja odp
                th Wynik
            each stat in stats
                tr
                    td= stat.nr
                    td= stat.question
                    td= stat.correctAnswer
                    td= stat.userAnswer
                    td= stat.correctness
        h2= "Ranking:"
        table
            tr
                th Miejsce
                th Gracz
                th Czas
            each winner in winners
                tr
                    td= winner.place
                    td= winner.name
                    td= winner.time

        h2= "Średnie czasy:"
        table
            tr
                th Pytanie
                th Średni czas
            each time in averageTimes
                tr
                    td= time.question
                    td= time.time
